<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>React Example - Authors archive</title>
	</head>
	<body>
		<div id="main"><%- markup %></div>
		<!-- 번들된 것을 사용 -->
		<script src="/dist/bundle.js"></script>
	</body>
</html>
